<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Edit Idea #<%=@idea.id%></h1>
    <form action="/ideas/<%=@idea.id%>/update">
      <div class="form-group">
        <label for="idea" class="control-label">Idea</label>
        <input type="text" name="idea" class="form-control" value="<%=@idea.idea%>" id="idea" placeholder="The wheel">
      </div>
      <input type="submit" class="btn btn-primary">
      </div>
    </form>
</div>
</div>


