<div class="row">
  <div class="col-md-12">
    <h1><%=@idea.idea%>
      <small>
        <a href="/ideas/<%=@idea.id%>/edit">Edit</a> |
        <a href="/ideas/<%=@idea.id%>/destroy">Destroy</a> 
      </small></h1>
    <div>

    </div>
    <div>
      <a href="/">Back to list of ideas</a> | 
      <a href="/new_idea">Create a new idea</a>
    </div>
  </div>
</div>
